doctype html
html
    head
    body Here will be list
        // table
        //     thead
        //         tr
        //             th Title
        //             th Author
        //     tbody
        //             tr
        //                 td= req.title
        //                 td= req.author